{% extends 'layouts/base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form action="{{ url('backend/site/add') }}" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">

            <div class="form-group{% if errors['uid'] is not empty %} has-error{%endif%}">
                <label for="uid" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">uid<span class="red">*</span></label>
                <div class="col-xs-12 col-sm-4">
                    <span class="block input-icon input-icon-right">
                        <input type="text" id="uid" placeholder="uid" name="uid" class="col-xs-12" value="{{site.uid}}" />
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> {% if errors['uid'] is not empty %}{{errors['uid']}}{% else %} {%endif%} </div>
            </div>

            <div class="form-group{% if errors['name'] is not empty %} has-error{%endif%}">
                <label for="name" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">name<span class="red">*</span></label>
                <div class="col-xs-12 col-sm-4">
                    <span class="block input-icon input-icon-right">
                        <input type="text" id="name" placeholder="name" name="name" class="col-xs-12" value="{{site.name}}" />
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> {% if errors['name'] is not empty %}{{errors['name']}}{% else %} {%endif%} </div>
            </div>

            <div class="form-group{% if errors['url'] is not empty %} has-error{%endif%}">
                <label for="url" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">url</label>
                <div class="col-xs-12 col-sm-4">
                    <span class="block input-icon input-icon-right">
                        <input type="text" id="url" placeholder="url" name="url" class="col-xs-12" value="{{site.url}}" />
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> {% if errors['url'] is not empty %}{{errors['url']}}{% else %} {%endif%} </div>
            </div>

            <div class="form-group{% if errors['createtime'] is not empty %} has-error{%endif%}">
                <label for="createtime" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">createtime</label>
                <div class="col-xs-12 col-sm-4">
                    <span class="block input-icon input-icon-right">
                        <input type="text" id="createtime" placeholder="createtime" name="createtime" class="col-xs-12" value="{{site.createtime}}" />
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> {% if errors['createtime'] is not empty %}{{errors['createtime']}}{% else %} {%endif%} </div>
            </div>



            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div><!-- /.col -->
</div><!-- /.row -->

{% endblock %}
{% block script %}

<script type="text/javascript">
    $(document).ready(function(){

        $(".ace-switch").each(function () {
            var aceswitch = this;

            aceswitch.addEventListener("click", function(){
                id = this.id.replace("_radio", "");
                if(this.checked){
                    $("#"+id).val('1');
                } else {
                    $("#"+id).val('0');
                }
                });
        });
    });
</script>
{% endblock %}
